@import '../../../../../styles/_shared';
@import '../../../../../styles/common/call-to-action-banner.styles';
@import '../../../../../styles/common/store-attributes.styles';

$fold-overlap-height: 70px;
$navbar-height: 3.5rem;
$slogan-line-decoration-width: 80px;

app-init-storeinit {
  display: block;

  .storefront-jumbotron {
    background-color: $aquamarina;
    background-image: url('/assets/imgs/home/background-splash.jpg');
    background-position: center;
    background-size: cover;


    .jumbotron-highlight {
      // min-height: 100vh;
      height: 100vh;
      flex-direction: column;
      justify-content: space-evenly;
      // This content goes behind top-navbar as the top navbar has position absolut.
      // That's why we need top padding to comepnsate that and provide top navbar a transparent background.
      //padding-top: calc(#{ $navbar-height } + #{ $fold-overlap-height });
      // Overlap home categories section to storefront jumbotron
      //padding-bottom: $fold-overlap-height * 2;

      .jumbotron-title {
        text-align: center;
        color: $white;
        font-size: 7.5rem;
        font-weight: 900;
        letter-spacing: 0.6rem;
        line-height: 1;
        margin: 0px;

        .title-emphasis {
          display: block;
          font-size: 8.5rem;
          font-style: normal;
          opacity: .63;
          background-color: black;
        }

        @include media-breakpoint-down(md) {
          font-size: 6.5rem;
          letter-spacing: 0.5rem;

          .title-emphasis {
            font-size: 7rem;
          }
        }

        @include media-breakpoint-down(sm) {
          font-size: 3.5rem;
          letter-spacing: 0.4rem;

          .title-emphasis {
            font-size: 4rem;
          }
        }
      }// .jumbotron-title

      .slogan-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0px;
        padding: 0px 5%;

        // Slogan line decoration
        &::before,
        &::after {
          content: '';
          background: $white;
          height: 2px;
          width: $slogan-line-decoration-width;
        }

        .slogan-copy {
          color: $white;
          font-size: 1.8rem;
          font-style: italic;
          font-weight: 300;
          text-align: center;
          padding: 0px 20px;
          margin: 0px;
          max-width: calc(100% - #{ ($slogan-line-decoration-width * 2) });
          background-color: black;
          opacity: 0.63;
          border-radius: 5px;
        }

        @include media-breakpoint-down(sm) {
          &::before,
          &::after {
            content: none;
          }

          .slogan-copy {
            font-size: 1.6rem;
            max-width: 100%;
            padding: 0px;
          }
        }
      }// .slogan-wrapper


      .slogan-play-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 40px 0px;
        padding: 0px 5%;
        cursor: pointer;

        &:hover {
            .slogan-copy {
                color: black;
                font-size: 5rem;
                font-weight: 300;
                text-align: center;
                padding: 0px 40px;
                margin: 0px;
                max-width: calc(100% - #{ ($slogan-line-decoration-width * 2) });
                background-color: white;
                opacity: 0.63;
                border-radius: 5px;
            }
        }

        .slogan-copy {
          color: $white;
          font-size: 5rem;
          font-weight: 300;
          text-align: center;
          padding: 0px 40px;
          margin: 0px;
          max-width: calc(100% - #{ ($slogan-line-decoration-width * 2) });
          background-color: black;
          opacity: 0.63;
          border-radius: 5px;
        }

        @include media-breakpoint-down(sm) {
          &::before,
          &::after {
            content: none;
          }

          .slogan-copy {
            font-size: 1.6rem;
            max-width: 100%;
            padding: 0px;
          }
        }
      }// .slogan-play-wrapper

      .store-search-bar {
        color: $white;
        border-color: $white;

        .search-bar-input {
          background-color: transparent;
          padding: 1rem 1.25rem;
          font-size: 1.3rem;

          &:focus {
            background-color: $white;
          }
        }
      }// .store-search-bar
    }// .jumbotron-highlight
  }// .storefront-jumbotron

  .storefront-categories {
    // background-color: $white;
    background-color: #00000082;
    // margin-top: -$fold-overlap-height;
    padding: 40px 25px 10px;

    width: 40vh;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;

    @include media-breakpoint-down(sm) {
      padding: 30px 15px 0px;
    }

    .store-main-category-col,
    .store-secondary-category-col {
      margin-bottom: 30px;
    }

    .store-main-category {
      &.women-category {
        &::before {
          background-color: rgba($purple, .5);
        }
      }

      &.men-category {
        &::before {
          background-color: rgba($black, .5);
        }
      }

      .main-category-anchor {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .main-category-btn {
          @include outline-button($white, transparent, $white, $purple);
          height: 4.5rem;
          flex: 0 0 65%;
          width: 65%;
        }

        &:hover {
          &:not([disabled]) {
            text-decoration: none;

            .main-category-btn {
              background-color: rgba($white, .7);
              border-color: rgba($white, .7);
              color: $purple;
            }
          }
        }

        &:active,
        &.active,
        &:focus,
        &.focus {
          &:not([disabled]) {
            text-decoration: none;

            .main-category-btn {
              background-color: $white;
              color: $purple;
            }
          }
        }
      }
    }// .store-main-category

    .store-secondary-category {
      .secondary-category-btn {
        @include outline-button($grey, transparent, $grey, $white);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }// .store-secondary-category

  }// .storefront-categories

  .highlighted-products-section {
    background-image: url('/assets/imgs/home/banner-bg.jpg');
    background-size: cover;
    color: $white;
    margin-bottom: 80px;

    .carousel-container {
      height: 100%;
    }

    .products-carousel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 40px 0px 20px;
    }

    .highlighted-product-banner {
      .banner-image {
        border-radius: 15px;
        width: 100%;
      }

      .banner-details-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .banner-title {
          font-size: 1.8rem;
          font-style: italic;
          font-weight: 900;
          letter-spacing: 0.12rem;
          margin-bottom: 30px;
        }

        .banner-description {
          font-size: 1.2rem;
          line-height: 1.5;
          margin-bottom: 15px;
        }

        .banner-tagline {
          display: block;
          font-size: 1.2rem;
          font-style: italic;
          font-weight: 500;
          margin-bottom: 30px;
        }

        .banner-call-to-action-btn {
          @include outline-button($white, transparent, $white, $purple);
          padding: 1rem 3rem;
        }
      }
    }// .highlighted-product-banner

    // Responsive styles
    @include media-breakpoint-only(lg) {
      .banner-description,
      .banner-tagline {
        font-size: 1rem !important;
      }
    }

    @include media-breakpoint-down(md) {
      .banner-actions {
        margin-bottom: 30px;
      }
    }

    @include media-breakpoint-down(xs) {
      .banner-call-to-action-btn {
        width: 100%;
      }
    }

  }// .highlighted-products-section

  .storefront-products-listing-section {
    margin-bottom: 80px;

    app-products-listing + .products-listing-heading {
      margin-top: 80px;
    }

    .products-listing-heading {
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 10px;

      .listing-title-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        // Line decoration
        &::before,
        &::after {
          content: '';
          background: $black;
          height: 2px;
          flex: 1 1 auto;
        }

        .listing-title {
          color: $black;
          font-size: 1.2rem;
          font-weight: 900;
          letter-spacing: 0.4rem;
          text-align: center;
          margin: 0px;
          padding: 0px 30px;
        }

        @include media-breakpoint-down(sm) {
          &::before,
          &::after {
            background: $white;
          }

          .listing-title {
            color: $white;
            font-size: 1.6rem;
          }
        }
      }// .listing-title-wrapper

      @include media-breakpoint-down(sm) {
        margin-bottom: 40px;
        background: $black;
      }
    }// .products-listing-heading
  }// .storefront-products-listing-section

  .storefront-call-to-action-banner {
    @include call-to-action-banner();
  }

  .storefront-attributes-section {
    @include store-attributes();
  }
}// app-home-storefront-page
