<nav class="main-navbar navbar navbar-expand-lg">
    <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">
        <img class="brand-logo" alt="BATTLESHIP" title="BATTLESHIP" src="/assets/imgs/logo.svg">
    </a>
</nav>
