<section class="storeinstructions-jumbotron">
    <div class="container-fluid">
        <div class="jumbotron-highlight row">
            <div class="col-12">
                <h2 class="jumbotron-title">
                <em class="title-emphasis">INSTRUCTIONS</em>
                </h2>
            </div>
            <div class="col-12 col-md-10 mx-md-auto col-lg-8" style="text-align: center">
                <div class="col-12">
                    <div class="slogan-wrapper">
                        <h5 class="slogan-copy">
                            <p>You will have 4 ships that will have differents spaces long.</p>
                            <p>You will have a number of shots to sink the enemy ships.</p>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10 mx-md-auto col-lg-8 separtion">
                <div class="col-12">
                    <div class="slogan-wrapper">
                        <h5 class="slogan-copy-next" (click)="startGame()">
                            NEXT ➤
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
