
<div class="auth-modal">
  <div class="auth-form-wrapper">
    <div class="modal-header">
      <h4 class="modal-title auth-title">Message</h4>
      <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {{text}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary pull-right">OK</button>
    </div>
  </div>
</div>