<section class="storegame-jumbotron">
    <div class="container-fluid">
        <div class="jumbotron-highlight row">
            <h2 class="jumbotron-title">
                <em class="title-emphasis">Level: {{showLevel()}} - Steps: {{currentUserTurn}}/{{showTotalSteps()}}</em>
            </h2>
            <div class="user-board">
                <h3 class="jumbotron-title">
                    <em class="title-emphasis">My board</em>
                </h3>
                <hr>
                <div class="style" *ngFor="let i of user_board; let m = index">
                    <div class="cell-board" *ngFor="let i of user_board; let n = index">
                        <img *ngIf="isAShip(n, m)" src="{{getFileShip(n, m)}}"  class="img-fixed">
                    </div>
                </div>
            </div>

            <div class="pc-board">
                <h3 class="jumbotron-title">
                    <em class="title-emphasis">Enemy's board</em>
                </h3>
                <hr>
                <div class="style" *ngFor="let i of pc_board; let m = index">
                    <div class="cell-board-pc" *ngFor="let i of pc_board; let n = index" (click)="shotAction(n, m)">
                        <img *ngIf="showImpact(n, m)" src="{{getExplosions(n, m)}}"  class="img-fixed">
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>