<section class="storefront-jumbotron">
  <div class="container-fluid">
    <div class="jumbotron-highlight row">
      <div class="col-12">
        <h1 class="jumbotron-title">
          BATTLESHIP
          <em class="title-emphasis">SANTEX</em>
        </h1>
      </div>
      <div class="col-12">
        <div class="slogan-wrapper">
          <h3 class="slogan-copy">
            Choose your level
          </h3>
        </div>
      </div>
      <div class="col-12 col-md-10 mx-md-auto col-lg-8" style="text-align: center">
        <div class="row storefront-categories">
            <div class="col-4 col-lg-6 store-main-category-col">
                <app-background-image class="store-main-category women-category" [src]="'/assets/imgs/home/easy-level.jpg'">
                <app-fill-container [ratio]="{w:4, h:3}">
                    <a class="main-category-anchor" (click)="choseLevel(TEASY_LEVEL)">
                    <button type="button" class="btn main-category-btn">
                        EASY LEVEL - UNLIMITED MOVES
                    </button>
                    </a>
                </app-fill-container>
                </app-background-image>
            </div>
        </div>
        <div class="row storefront-categories">
            <div class="col-4 col-lg-6 store-main-category-col">
                <app-background-image class="store-main-category women-category" [src]="'/assets/imgs/home/medium-level.jpg'">
                <app-fill-container [ratio]="{w:4, h:3}">
                    <a class="main-category-anchor" (click)="choseLevel(TMEDIUM_LEVEL)">
                    <button type="button" class="btn main-category-btn">
                        MEDIUM LEVEL - 100 MOVES
                    </button>
                    </a>
                </app-fill-container>
                </app-background-image>
            </div>
        </div>
        <div class="row storefront-categories">
            <div class="col-4 col-lg-6 store-main-category-col">
                <app-background-image class="store-main-category women-category" [src]="'/assets/imgs/home/hard-level.jpg'">
                <app-fill-container [ratio]="{w:4, h:3}">
                    <a class="main-category-anchor" (click)="choseLevel(THARD_LEVEL)">
                    <button type="button" class="btn main-category-btn">
                        HARD LEVEL - 50 MOVES
                    </button>
                    </a>
                </app-fill-container>
                </app-background-image>
            </div>
        </div>
        <div class="col-12">
            <div class="slogan-play-wrapper">
                <h2 class="slogan-copy" (click)="actionPlayNow()">
                    PLAY NOW
                </h2>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

